[data-md-color-scheme="youtube"] {
  --md-primary-fg-color: #103dc2;
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #103dc2;
}

.social-links {
  font-size: 1rem;
  margin: 1rem 0;
}

.social-links a {
  text-decoration: none;
}

.md-content hr {
  margin: 2.5rem 0;
  border: none;
  border-top: 1px solid var(--md-default-fg-color--lightest);
}
